<title><% if(title) { %><%= title %> | arena<% } else { %>arena<% } %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#111">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" crossorigin="anonymous">