<!DOCTYPE html>
<html>
  <head>
        <title><%= error.status %> | arena</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <meta name="theme-color" content="#111">
  </head>
  <body>
    <strong class="notfound noselect">
        <%= error.status %>
    </strong> <br/>
    <% if(error.stack) { %>
        <%= error.stack %> <br/>
    <% } else { %>
        <% if(error.status == 404) { %>
            <span>the requested content could not be found</span> <br/>
        <% } else { %>
            <span>there was an error processing your request. please try again.</span> <br/>
        <% } %>
    <% } %>
    <a href='/'>&gt;&gt; home</a>
  </body>
</html>