<!DOCTYPE html>
<html>
  <head>
    <%- include partials/header.ejs %>
  </head>
  <body>
    <div class="header">
      <span class="title noselect">tapes.ws<sup><small class="year">beta</small></sup></span>
      <span class="nav noselect">[ <a href="../">home</a> / <a href='../c/submit'>submit</a> / <a href="../info">info</a> / <span class="year">arena</span> ]</span>
    </div>
    <strong>
      <i class="fas fa-fan ico-pad"></i> home
    </strong>
    <div class="info nospill nav">
      welcome to the alpha of the tapes.ws <strong>beatbattle arena</strong>.<br/>
      to continue, please either <a href="/login">log in</a>, or <a href="/sign-up">sign up</a><br/><br/>
      at the moment, the arena is invite only while i figure everything out.<br/><br/>
      you can request an invite code at <a href="mailto:invites@tapes.ws">invites@tapes.ws</a>
   </div>
  </body>
</html>
