<!DOCTYPE html>
<html>
  <head>
    <%- include partials/header.ejs %>
  </head>
  <body>
    <%- include('partials/nav.ejs', {active: ''}) %>
    <strong>
      <i class="fas fa-fan ico-pad"></i> home
    </strong>
    <div class="info nospill nav">
      welcome to the alpha of the tapes.ws <strong>beatbattle arena</strong>.<br/>
      to continue, please either <a href="/login">log in</a>, or <a href="/sign-up">sign up</a><br/><br/>
      at the moment, the arena is invite only while i figure everything out.<br/><br/>
      you can request an invite code at <a href="mailto:invites@tapes.ws">invites@tapes.ws</a>
   </div>
  </body>
</html>
