<!DOCTYPE html>
<html>
  <head>
    <%- include partials/header.ejs %>
  </head>
  <body>
    <%- include('partials/nav.ejs', {active: ''}) %>
    <strong>
        <a href="../">..</a> create account
    </strong>
    <div class="info nospill">
        <span class="tape">
                <form class="pad-input" action="/auth/signup" method="POST">
                    <i class="fas fa-user-circle ico-pad"></i> <strong>pick a username</strong>
                    <div class="info">
                        <input type="text" placeholder="username" name="username" maxlength="12" minlength="3" required>
                    </div>
                    <i class="fas fa-lock ico-pad"></i> <strong>create a password</strong>
                    <div class="info">
                      <input type="password" placeholder="password" name="password" minlength="8" required>
                    </div>
                    <i class="fas fa-key ico-pad"></i> <strong>enter a valid invite code</strong>
                    <div class="info mb-8">
                      <input type="text" placeholder="invite code" name="code" required>
                    </div>
                    <input class="full-vis" type="submit" value="sign up">
                </form>
        </span>
   </div>
  </body>
</html>