<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <div class="header">
      <span class="title noselect">tapes.ws<sup><small class="year">arena</small></sup></span>
      <span class="nav noselect">[ <a href="/">home</a> / <a href='/battles'>battles</a> / <a href="/profile">profile</a> ]</span>
    </div>
    <strong>
      <i class="fas fa-fan ico-pad"></i> ongoing battle
    </strong>
    <div class="info nospill nav">
        <span><i class="fas fa-asterisk ico-pad"></i> synth bb 01</span>
        <div class="info">
            <ul>
                <li>you may only use the samples provided</li>
                <li>must include: bass, chords, arp</li>
                <li>lol idk</li>
                <li>but rules yea</li>
            </ul>
        </div>
        <article><i class="fas fa-download ico-pad"></i> <a href="#">download samples</a></article>
        <br/>
        <article><i class="fas fa-clock ico-pad"></i> voting begins on <strong>mon, 15th jul</strong> at <strong>5:30pm</strong> (local time)</article>
        <article>
            <div class="info">
                please remember, if you don't follow the rules, you <em>will</em> be disqualified.
            </div><br/>
        </article>
        <span><i class="fas fa-upload ico-pad"></i> submit</span>
        <div class="info">
            <article>valid filetypes: <strong>.mp3, .wav, .flac</strong>, 100mb limit</article>
            <form>
                <input class="bb-submit mb-8" type="file"><br/>
                <input type="submit" value="submit">
            </form>
        </div><br/>

        <span><i class="fas fa-user ico-pad"></i> participants (2)</span>
        <div class="info">
            <article>testuser, teststes2</article>
        </div>
    </div>
    
  </body>
</html>
