<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'create battle'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong>
      <a class="nohover" href="../">..</a> create new battle
    </strong>
    <div class="info nospill nav">
        <span class="tape">
                <form class="pad-input" method="POST">
                    <i class="fas fa-info-circle ico-pad"></i> <strong>name</strong>
                    <div class="info">
                        <input type="text" placeholder="short description" name="name" minlength="5" required>
                    </div>
                    <i class="fas fa-edit ico-pad"></i> <strong>description</strong>
                    <div class="info">
                      <textarea placeholder="" name="desc" minlength="10" required style="width: 64%; height: 100%; /*lol*/"></textarea>
                    </div>
                    <i class="fas fa-book ico-pad"></i> <strong>ruleset</strong> 
                    <span class="toolbar nav">
                      <span>
                          <a href="#"><i class="fas fa-plus" id="rule-add"></i></a><a href="#"></a><a href="#"><i class="fas fa-minus" id="rule-remove"></i></a>
                      </span>
                    </span>
                    <div class="info" id="ruleset">

                    </div>
                    <i class="fas fa-clock ico-pad"></i><sup>s</sup> <strong>start date/time</strong>
                    <div class="info mb-8">
                      <input type="datetime-local" name="startTime">
                      <input type="hidden" name="startTime_epoch" id="startTime_epoch">
                    </div>
                    <i class="fas fa-clock ico-pad"></i><sup>e</sup> <strong>expiry date/time</strong>
                    <div class="info">
                      <input type="datetime-local" name="endTime">
                      <input type="hidden" name="endTime_epoch" id="endTime_epoch">
                    </div>
                    <i class="fas fa-wrench"></i> options
                    <div class="info mb-8">
                      <input type="checkbox" name="blindvote"> blind vote
                    </div>
                    <input class="full-vis width-initial" type="submit" value="create">
                </form>
        </span>
   </div>
   <script src="/js/battle-create.js"></script>
  </body>
</html>
