<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'battles'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: 'battles'}) %>
    <strong>
      <i class="fas fa-fan ico-pad"></i> battles
    </strong>
    <span class="toolbar nav">
        <span>
          <a href="/battles/create"><i class="fas fa-plus"></i></a>
        </span>
    </span>
    <div class="info nospill nav">
      <span class="noselect"><i class="fas fa-stopwatch"></i> ongoing battles</span>
      <div class="info">
        <% Object.keys(ongoing).forEach(function(battle) { %>
          <article><a href="battles/<%= battle %>"><%= ongoing[battle] %></a></article>
        <% }); %>
      </div>

      <span class="noselect"><i class="fas fa-history"></i> past 5 battles</span>
      <div class="info nospill">
        none found
      </div>
    </div>
  </body>
</html>
