<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'create battle'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: 'battles'}) %>
    <strong>
      <a class="nohover" href="../">..</a> create new battle
    </strong>
    <div class="info nospill nav">
        lol
   </div>
  </body>
</html>
