<!DOCTYPE html> 
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <div class="header">
      <span class="title noselect">tapes.ws<sup><small class="year">arena</small></sup></span>
      <span class="nav noselect">[ <a href="/">home</a> / <a href='/battles'>battles</a> / <a href="/profile">profile</a> ]</span>
    </div>
    <%- include ../partials/flash.ejs %>
    <strong>
      <i class="fas fa-fan ico-pad"></i> add suggestion
    </strong>
    <div class="info nospill nav" id="main">
      <article class="noselect">
            <i class="fas fa-info-circle ico-pad"></i> <strong>info</strong>
        </article>
        <div class="info nospill">
            <article>
                use this form to suggest rules and samples for future battles. please provide a link to any samples you may wish to include.
            </article>
        </div><br/>

        <i class="fas fa-info-circle ico-pad"></i> <strong>suggestion box</strong>
        <div class="info nospill">
            <form method="POST" action="/suggest">
                <textarea name="data" required placeholder=""></textarea>
                <input type="submit" value="submit" class="width-initial">
            </form>
        </div>
    </div>
  </body>
</html>