<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <div class="header">
      <span class="title noselect">tapes.ws<sup><small class="year">arena</small></sup></span>
      <span class="nav noselect">[ <a href="/">home</a> / <a href='/battles'>battles</a> / <a href="/profile">profile</a> ]</span>
    </div>
    <strong class="nav">
      <a href="..">..</a> manage groups
    </strong>
    <div class="info nospill nav">
      <i class="fas fa-user ico-pad"></i> <strong>groups</strong>
      <div class="info">
            <% for(let i = 0; i < groups.length; i++) { %>
              <article>
                  &gt; <a href="groups/<%= groups[i].name %>"><%= groups[i].name %></a>
              </article>
            <% } %>
      </div>
    </div>
  </body>
</html>