<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'groups'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong class="nav">
      <a href="..">..</a> manage groups
    </strong>
    <div class="info nospill nav">
      <i class="fas fa-user ico-pad"></i> <strong>groups</strong>
      <div class="info">
            <% for(let i = 0; i < groups.length; i++) { %>
              <article>
                  &gt; <a href="groups/<%= groups[i].name %>/"><%= groups[i].name %></a>
              </article>
            <% } %>
            
              <article>
                  + <form method="post" action="/ops/groups/create" id="groupForm">
                      <input type="text" name="name" placeholder="name" required>
                      <input type="submit" value="submit" />
                    </form>
              </article>
      </div>
    </div>
  </body>
</html>