<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'system'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong class="nav">
      <i class="fas fa-fan ico-pad"></i> system actions
    </strong>
    <div class="info nospill nav">
      <i class="fas fa-bullhorn ico-pad"></i> <strong>bulletin</strong>
      <div class="info">
        <form action="/ops/sys/bulletin" method="POST">
          <textarea class="bulletin-edit" name="message" required placeholder="<%= bulletin.message %>"></textarea> <br/>
          <input type="submit" value="update">
        </form>
      </div>
    </div>
  </body>
</html>