<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <div class="header">
      <span class="title noselect">tapes.ws<sup><small class="year">arena</small></sup></span>
      <span class="nav noselect">[ <a href="../../">home</a> / <a href='../battles'>battles</a> / <a href="/profile">profile</a> ]</span>
    </div>
    <strong class="nav">
      <i class="fas fa-fan ico-pad"></i> system actions
    </strong>
    <div class="info nospill nav">
      <i class="fas fa-user ico-pad"></i> <strong>users</strong>
      <div class="info">
            <% for(let i = 0; i < users.length; i++) { %>
                <article>
                    <a href="/profile/<%= users[i].username %>" target="_blank"><%= users[i].username %></a> <%- Object.keys(users[i].data.badges).map(badge => `<i class="${badge}"></i>`).join(" ") %>
                </article>
              <% } %>
      </div>
    </div>
  </body>
</html>